
.wrapper{
    background-color:rgba(169,169,169,0.3);
    position: absolute;
    width:50%;
    height: 60%;
    left:50%; 
    top: 50%;
    transform: translate(-50%,-50%);
}

.login_form_wrapper{
    display: block;
}

.login_form{
    display: block;
    margin: 20px;
    justify-content: space-evenly;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,28%);
}

.inputs{
    position: relative;
    left:47px;
}
   
