
.wrapper{
    background-color:rgb(195, 199, 199);
    position: absolute;
    width:40%;
    height: 50%;
    left:50%; 
    top: 50%;
    transform: translate(-50%,-50%);
}

.login_form_wrapper{
    display: block;
}

.login_form{
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}
   