.info1{
    display: flex;
    margin-left: 20%;
    margin-top: 5%;
}

.info{
    display: flex;
    margin-left: 20%;
}

.show_bookings{
    margin-left: 20%
}

.booking_list_element{
    align-items: center
}
p{
    font-family: "Book Antiqua";
    font-size:25px;
}
.firstName{
    padding: 0px 10px 10px 10px;
    
}

.lastName{
    padding: 0px 10px 10px 10px;
}
.dob{
    padding: 0px 10px 10px 10px;
}
.gender{
    padding: 10px 10px 10px 10px;
}
.age{
    padding: 10px 10px 10px 10px;
}

.bloodType{
    padding: 10px 10px 10px 10px;
}