
.register_wrapper{
    /* background: linear-gradient(45deg,  rgb(233, 150, 150), rgb(161, 161, 245)); */

    background-color:rgba(169,169,169,0.3);
    position: absolute;
    width:50%;
    height: 60%;
    left:50%; 
    top: 50%;
    transform: translate(-50%,-50%);
}

.register_form_wrapper{
    display: block;
}

.register_form{
    display: block;
    margin: 20px;
    justify-content: space-evenly;
}

.names{
    display: flex;
    margin: 20px;
}

.username_field{
    margin: 0px 20px;
    width: 725px;
    position: relative;
    left:-19px;}

.password_field{
    margin: 0px 20px 20px 20px;
    width: 725px;
    position: relative;
    left:-19px;
}

.firstName_box{
    margin: 10px;
    width: 346px;

}

.lastName_box{
    margin: 10px;
    width: 346px;

}

.MuiFormControl-root{
    margin: 10px;
    position: relative;
    /* left:13%; */
    width:70%;
}

.MuiButton-root{
    margin: 5px;
    justify-content: center;
    transform:translateX(180px) ;
}

.inputs--register{
    position: relative;
    left: 14%;
    margin-top: 10%;
}
.register_button{
    left: 36%;
}